<!DOCTYPE html>
<html ng-app="HalApp">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS</title>
    <link rel="stylesheet" href="https://use.typekit.net/ssf5lcy.css">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <link data-require="bootstrap-css" data-semver="3.1.1" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>
    <script src="app.js"></script>
  </head>

<body>

<div id="halImg">
    
</div>
<!-- <div id="divider"></div> -->

<div ng-controller = "TalkController as talk">
   
    <div ng-keydown = "talk.key($event)" id="consoleBox">
       <div id="reflection"></div>
        <p class=" typing">{{talk.currentText}}<span class="blinking-cursor">|</span></p>
    </div>
    <br/>
<div id="buttons">
    <button ng-show="talk.layout[0].ifState" ng-click="talk.typewriter(talk.layout[0].ngClick)">{{talk.layout[0].btnText}}</button>
    
    <button ng-show="talk.layout[1].ifState" ng-click="talk.typewriter(talk.layout[1].ngClick)">{{talk.layout[1].btnText}}</button>
        
    <button ng-show="talk.layout[2].ifState" ng-click="talk.typewriter(talk.layout[2].ngClick)">{{talk.layout[2].btnText}}</button>
</div>
</div>

</body>

</html>
