:focus {
    outline: 0;
}

body{
    background-color: #000;
height: 100%;
}

#divider{
    background: linear-gradient(to top, grey 0%,black 50%,#000000 50%,white 50%,grey 100%); /* W3C */
    height: 1vh;
    box-shadow: 3px inset #789;
}
#reflection{
    background: linear-gradient(to bottom, black 0%,grey 20%, black 100%); /* W3C */
    height: 4vh;
    
    box-shadow: inset 0px 0px 10px 1px black;
    border-radius: 5px;
    margin-bottom: -4vh;
}

#halImg {
height: 70vh;
background-image: url(Imgs/Hal_Full.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;

}

#consoleBox {
    padding: 3px;
    border: 4px groove  grey;
    border-radius: 10px;
    border-color: linear-gradient(to top, grey 0%,black 50%,#000000 50%,white 50%,grey 100%); /* W3C */;
    font-family: 'Share Tech Mono', monospace;
    color: #fff;
    font-size: 2.8rem;
    margin: 0 2rem 0 2rem;
    
    
}

#consoleBox p {
    margin: .75rem;
    filter: blur(1px);
}
.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

button {
    padding: 1.5rem;
    font-family: 'Eurostile', sans-serif;
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #7C7880 0%, #868B9F 80%,#7C7880 100%);
    border: 4px solid #7C7880;
    box-shadow: 1px 0px 5px 2px #222;
    margin: 1rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all .5s;
        -moz-transition: all 0.5s;

    border-radius: .25rem;
    display: inline-block;

}

button:active {
    position: relative;
    top: 1px;
transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
        -moz-transition: all 0.5s;

    background: radial-gradient(#FCECED 0%, #D9CCCF 60%, #7C7880 100%);
    color: #333;
        box-shadow: inset 0px 0px 5px 2px #7C7880;

}

#buttons { /* W3C */
    background-color: #2E313B;
    padding: 2rem;
    text-align: center;
}
